#app {
  width: 100%;
  height: 100%;
}
/* 全局样式重置，确保没有边距和填充 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 隐藏滚动条 */
}
